  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 20px;
  color: olivedrab;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: cornsilk;
}

/* Style page content */
.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 24.5%;
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
